Flask
flask-cors
transformers
datasets
torch
werkzeug
g4f
sentencepiece
transformers[torch]

tensorflow
keras
pandas
numpy
jupyter
notebook
tqdm
opencv-contrib-python
scikit-learn
pillow
matplotlib
tf-keras